// 深色主题颜色样式
.baseTheme(){

  .layout-side {
    // background: rgb(53, 103, 207);
    // min-height: 100%;
    // box-shadow   : 2px 0 6px rgba(0, 21, 41, .35);
    z-index      : 1;

    .logo-span {
        height    : 58px;
        background: white;
        padding   : 8px 12px;
        text-align: center;

        .expand-logo {
            max-height: 48px;
            max-width : 176px;
        }

        .collapsed-logo {
            max-height: 48px;
            max-width : 56px;
        }
    }

    .side-menu {
        margin-top: 2rem;
    }

    .nav-item-level1,
    .nav-group-level1,
    .nav-submenu-level1 {
        margin-top: 0px;

        .nav-item-level2,
        .nav-group-level2,
        .nav-submenu-level2 {
            margin-top: 0px;

            .nav-item-level3 {
                margin-top: 0px;
            }
        }
    }
}

.side-header {
    background   : #fff;
    padding      : 0;
    height       : 58px !important;
    line-height  : 58px !important;
    // border-bottom: 1px solid #e2e2e2;
    // box-shadow   : 2px 0 6px rgba(0, 21, 41, 0.35);
    box-shadow   : 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index      : 1;

    .logo-span {
        float          : left;
        height         : 57px;
        background     : white;
        padding        : 8px 12px;
        text-align     : center;
        display        : flex;
        justify-content: center;
        align-items    : center;
        width          : 200px;

        .expand-logo {
            max-height: 48px;
            max-width : 176px;
        }

        .collapsed-logo {
            max-height: 48px;
            max-width : 56px;
        }
    }

    .head-title {
        margin-left: 2rem;
        font-size  : 2.5rem;
        font-weight: 600;
        color      : #111;
    }

    .messages {
        display : inline-block;
        position: absolute;
        right   : 18rem;
        top     : 0;

        .head-example {
            width         : 42px;
            height        : 30px;
            border-radius : 4px;
            display       : inline-block;
            vertical-align: middle;

            .bell {
                width      : 25px;
                height     : 25px;
                transform  : scale(1.78);
                margin-top : 10px;
                margin-left: 14px;
            }
        }
    }

    .head-options {
        float          : right;
        // margin-right: 1.75rem;
        margin-right   : 20px;

        .options-menu {
            font-size: 1.8rem;
            padding  : 8px 12px;
        }

        .options-dropdown {
            color     : #333;
            height    : 60px;
            min-height: 60px;
            display   : inline-block;
        }

        .options-dropdown-avatar {
            width        : 2.5rem;
            height       : 2.5rem;
            line-height  : 2.5rem;
            border-radius: 50%;
        }
    }
}

.side-TYheader {
    background     : rgb(49, 93, 188);
    color          : #fff;
    padding        : 0;
    width          : 100vw;
    height         : 24px;
    display        : flex;
    justify-content: flex-start;
    align-items    : center;
    box-sizing     : border-box;
    padding-left   : 24px;
    font-size      : 16px;

    >span {
        margin-left: 30px;
        cursor     : pointer;
    }
}

.side-content {
    padding   : 20px 20px 20px 30px;
    background: #fff;
    min-height: calc(100vh - 64px - 69px);
    background: #f9f9f9;

}

.side-no-footer-content {
    // padding   : 20px 20px 20px 30px;
    // background: #fff;
    min-height   : calc(100vh - 64px);
    background   : #f9f9f9;
    //background : #f0f2f5;
}

.side-footer {
    text-align: center;
}

// .menu_new {
//     background: rgb(53, 103, 207);
// }

// .ant-layout-sider {
//     background: rgb(53, 103, 207);
//     font-size : 18px;
// }

// :host ::ng-deep .ant-menu-submenu-open {
//     background: rgb(39, 73, 148) !important;
// }

// :host ::ng-deep .ant-menu-inline {
//     background: rgb(53, 103, 207) !important;
// }

// :host ::ng-deep .ant-menu-item-selected {
//     background: rgb(39, 73, 148) !important;
// }

:host ::ng-deep .ant-menu-sub {
    box-shadow: none !important;
}

.menuHide {
    flex     : 0 0 0px !important;
    max-width: 0px !important;
    min-width: 0px !important;
    width    : 0px !important;
}

// :host ::ng-deep .ant-btn-primary {
//     background-color: #5a79ba !important;
//     border-color    : #5a79ba !important;
// }

.bread {
    height         : 45px;
    display        : flex;
    justify-content: flex-start;
    align-items    : center;
    line-height    : 40px;
    width          : 100%;
    box-sizing     : border-box;
    padding-left   : 20px;
    background     : #fff;
    border-bottom  : 1px solid #e2e2e2;

    nz-breadcrumb-item:last-child {
        color: #222;
    }
}

:host ::ng-deep .ant-menu-root {
    // padding-top: 1.6rem;
    height        : calc(100vh - 58px);
    overflow-y    : auto;
    overflow-x    : hidden;
}

:host ::ng-deep .ant-layout-sider-trigger {
    position     : absolute;
    top          : calc(50vh - 29px - 20px);
    //top        : 0px;
    //right      : -30px;
    right        : -13px;
    height       : 40px;
    width        : 13px !important;
    line-height  : 40px;
    font-size    : 12px;
    border-radius: 0 3px 3px 0;
    padding-right: 1px;
}

:host ::ng-deep .ant-breadcrumb {
    line-height: 0px;
}

.nav-text {
    font-size: 14px !important;
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999999999;
    animation: fadein .5s ease-out;
    background-color: rgba(255, 255, 255, .3);
    .loading-icon {
        width: 60px;
        height: 60px;
        text-align: center;
        position: absolute;
        top: 38%;
        left: 45%;
        margin: -100px 0 0 0;
        svg {
            animation: rotate 1s infinite linear;
        }
        i {
            font-size: 80px;
            color: #fff;
        }
        .loading-text {
            color: #0179FF;
            margin-top: 1rem;
            font-size: 13px;
        }
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes rotate{
    0%{
        transform: rotate(0);
      }
    100%{
         transform: rotate(360deg);
    }
}


}
// :host ::ng-deep .ant-menu-item-selected > a, :host ::ng-deep .ant-menu-item-selected > a:hover {
//   color: #ff4d4f;
// }

// :host ::ng-deep .ant-menu-item > a:hover {
//   color: #ff4d4f;
// }



// :host ::ng-deep .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
//   background-color: #fff1f0;
// }

// :host ::ng-deep .ant-menu-vertical .ant-menu-item::after, .ant-menu-vertical-left .ant-menu-item::after, .ant-menu-vertical-right .ant-menu-item::after, .ant-menu-inline .ant-menu-item::after {  
//   border-right: 3px solid #f5222d;
// }